#header{
  color: white;
  background-image: url("image/stars.jpg");
  height:400px;
}
.header-title.h1{
 text-align: center;
 margin-top: 50px;
}
h1{
  font-family: 'Acme', sans-serif;
}
h6{
  margin-top: 17px;
}
