<!--The content below is only a placeholder and can be replaced.-->
<div class="body">
  <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
<div style="text-align:center">
  <section id=header>
    <div class=header-title>
    <h1>
    Welcome to {{ title }}!
    </h1>
  <h6> Get to enrich your mind with famous sayings by the wise, as well as, add your own "little" pieces of wisdom.
  </h6>
  </div>
  </section>
  <app-quotes></app-quotes>
</div>
<router-outlet></router-outlet>
</div>
