<p>
  quote-form works!
</p>
<div class="container-fluid">
    <div class="row">
        <form (ngSubmit)='submitQuote()'#quoteForm= 'ngForm'>
            <div class="form-group">

                <label for="name">insert quote</label>
                <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                   <p> Name is Required</p>
               </div>
Display {{newQuote.name}}
            </div>
            <div class="form-group">

                <label for="Quoter">enter authors name</label>
                <textarea class="form-control" id="userQuote" rows="4" [(ngModel)]="newQuote.userQuote" userQuote="userQuote" #userQuote="ngModel" required></textarea>
                <div [hidden]="userQuote.valid || userQuote.pristine" class="alert alert-danger">
                   <p> authors name is Required</p>
               </div>

            </div>
            <div class="form-group">

                <label for="description">enter quoters name</label>
                <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.description" description="description" #description="ngModel" required></textarea>
                <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                   <p> your name is Required</p>
               </div>
            </div>
            <div class="form-group">
                <label for="complete">enter date posted</label>
                <input type='date' id="date" [(ngModel)]="newQuote.date" date="date" #date="ngModel" required>
                <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
                <p> Date of posting is Required</p>

                </div>
            </div>
            <button type="Submit" class="btn btn-success btn-lg">Add quote</button>
        </form>
    </div>
</div>
